.header {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.header-link {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.darkmode {
    margin-left: 70%;
}

@media (max-width: 800px) {
    .header-link{
        text-decoration: none;
    color: #fff;
    margin: 0 0px;
    padding: 0px;
    transition: all 0.2s ease-in-out;
    }
    .darkmode {
        margin-left: 0%;
    }
}