.cards{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    margin-right: 5%;
    width: 30%;
}

.cardImage{
    width: 100%;
    height: 100%;
}

.cardMedia{
    text-decoration: none;
    color: black;
}